extends layouts/html5

block head
    title Example App

    link(rel='stylesheet', href='/lib/SourceSansPro/SourceSansPro.css')
    link(rel='stylesheet', href='/css/main.css')

    style.
        body { font-family: 'SourceSansProRegular' }

block body
    section.main
        h1 Greetings
        p Hello, world


    != LRScript
